* {
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

body {
    background-color: #f5f5f5;
    /* background-image: url("../../images/ep_naturalwhite.png"); */
    background-repeat: repeat;
}

.blocc {
    background-color: #f5f5f5;
    width: 100%;
    height: 92px;
    padding-top: 30px;
    padding-left: 380px;
} /*white background for transparent title block*/

.fixme {
    position: fixed;
    width: 100%;
    height: 92px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    opacity: 0.8;
    z-index: 2;
} /*transparent title block*/

.sticky {
    position: fixed;
    top: 91px;
}

.d1p1 {
    position: absolute;
    margin-top: 95px;
}
.d1p2 {
    position: absolute;
    margin-top: 400px;
}
.d2p1 {
    position: absolute;
    margin-top: 438px;
}
.d2p2 {
    position: absolute;
    margin-top: 500px;
}

#titlebox {
    position: fixed;
    margin-left: -60px;
    width: 400px;
    height: 91px;
    text-align: center;
    background-color: #774aaa;
    padding: 35px;
    color: #ffffff;
    float: left;
    z-index: 3;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
}
#titlebox2 {
    margin-left: -60px;
    width: 453px;
    height: 40px;
    text-align: center;
    background-color: #774aaa;
    padding-top: 10px;
    color: #ffffff;
    float: left;
    position: absolute;
    z-index: 2;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
}

.fixthefix {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    transform: skew(-30deg);
}
.floating {
    text-align: left;
    z-index: 2;
    padding: 0%;
    float: left;
    width: 100%;
}
.floating1{
    opacity: 0.7;
    background-color: #00b828;
    width: 5px;
    height: 40px;
    text-align: center;
    color: #ffffff;
    float: left;
    z-index: 3;
    margin-left: 393px;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
    position: absolute;
}
.floating2{
    opacity: 0.6;
    background-color: #2049ff;
    width: 5px;
    height: 40px;
    text-align: center;
    color: #ffffff;
    float: left;
    z-index: 3;
    margin-left: 398px;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
    position: absolute;
}
.floating3{
    opacity: 0.5;
    background-color: #774aaa;
    width: 5px;
    height: 40px;
    text-align: center;
    color: #ffffff;
    float: left;
    z-index: 3;
    margin-left: 403px;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
    position: absolute;
}

#tc1{
    position: fixed;
    opacity: 0.7;
    background-color: #00b828;
    width: 5px;
    height: 91px;
    text-align: center;
    color: #ffffff;
    float: left;
    z-index: 3;
    margin-left: 340px;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
}
#tc2{
    position: fixed;
    opacity: 0.6;
    background-color: #2049ff;
    width: 5px;
    height: 91px;
    text-align: center;
    color: #ffffff;
    float: left;
    z-index: 3;
    margin-left: 345px;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
}
#tc3{
    position: fixed;
    opacity: 0.5;
    background-color: #774aaa;
    width: 5px;
    height: 91px;
    text-align: center;
    color: #ffffff;
    float: left;
    z-index: 3;
    margin-left: 350px;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
}


/* name box */

/* #titlebox:hover {
    -webkit-animation-name: example;
    -webkit-animation-duration: 1s;
    animation-name: top;
}

@keyframes top {
    0% {background-color: #4aaaa5;}
    50% {background-color: #ffffff; color: #4aaaa5;}
    100% {background-color: #4aaaa5; color: #ffffff;}
} */


.link {
    position: fixed;
    float: left;
    background-color: #ffffff;
    margin-left: 67%;
    width: 225px;
    height: 91px;
    z-index: 3;
    opacity: 0.7;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
} /* solid background to keep links visible */

.invisilink {
    height: 91px;
    width: 75px;
    display: block;
    position: fixed;
    z-index: 3;
}

#alwrap1 {
    width: 75px;
    height: 91px;
    text-align: center;
    float: left;
    color: #707070;
    text-decoration: none;
    padding-top: 35px;
    margin-left: 700px;
}
#alwrap1:hover {
    background-color: #2049ff;
    color: #ffffff;
    text-align: center;
}
#alwrap2 {
    width: 75px;
    height: 91px;
    text-align: center;
    float: left;
    color: #707070;
    text-decoration: none;
    padding-top: 35px;
    margin-left: 775px;
}
#alwrap2:hover {
    background-color: #774aaa;
    color: #ffffff;
}#alwrap3 {
    width: 75px;
    height: 91px;
    text-align: center;
    float: left;
    padding-top: 35px;
    color: #707070;
    text-decoration: none;
    margin-left: 850px;
}
#alwrap3:hover {
    background-color: #00b828;
    color: #ffffff;
}

/* #alwrap1 {
    width: 75px;
    height: 91px;
    text-align: center;
    float: left;
    padding-top: 65px;
    padding-left: 27px;
    color: #02007e;
    text-decoration: none;
}
#alwrap1:hover {
    background-color: #2049ff;
    color: #ffffff;
}
#alwrap2 {
    width: 75px;
    height: 91px;
    text-align: center;
    float: left;
    padding-top: 35px;
    padding-left: 16px;
    color: #02007e;
    text-decoration: none;
}
#alwrap2:hover {
    background-color: #774aaa;
    color: #ffffff;
}
#alwrap3 {
    width: 75px;
    height: 91px;
    text-align: center;
    float: left;
    padding-top: 6px;
    padding-left: 20px;
    color: #02007e;
    text-decoration: none;
    margin-top: -20px;
}
#alwrap3:hover {
    background-color: #00b828;
    color: #ffffff;
} */

.pl {
    float: left;
    padding: 3px;
} /* link divisions */

.al {
    float: left;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    transform: skew(-30deg);
} /* link specifics */

/* 
a:hover {
    color: #4aaaa5;
    border: 1px solid #4aaaa5;
    border-radius: 6px;
} */

.port {
    padding-left: 3px;
    padding-top: 4px;
    padding-right: 3px;
    color:#ffffff;
}

.port:hover {
    color: #ffffff;
}

/* .blue {
    text-align: left;
    color: #4aaaa5;
    font-size: 35px;
} content title */

/* .ben {
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 100%;
    border-bottom: 2px solid #777777;
    margin-top: 10px;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
    padding-top: 16px;
} content title div */

.con {
    text-align: left;
    float: left;
    background-color: #ffffff;
    padding-bottom: 25px;
    margin-bottom: 50px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding-top: 50px;
    line-height: 170%;
    color: #777777;
    position: absolute;
    width: 960px;
    margin-left: -480px;
    left: 50%;
    padding-left: 12px;
    padding-right: 12px;
} /* content div */

img.reg {
    margin-bottom: 48px;
    width: 100%;
    height: auto;
    float: left;
    border: 1px solid #777777;
    border-radius: 6px;
} /* image specifics */

img.bet {
    width: 250px;
    height: auto;
    margin-right: 16px;
    margin-bottom: 16px;
    float: left;
} /* image specifics */

.push {
    margin-right: 500px;
    width: 250px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 40px;
    float: left;
}

.box {
    width: 250px;
    height: 40px;
    background-color: #4aaaa5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    color: #ffffff;
    float: left;
    padding-top: 6px;
}

.box:hover {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
    animation-name: linkyeah;
}

@keyframes linkyeah {
    0% {background-color: #4aaaa5;}
    50% {background-color: grey;}
    100% {background-color: #4aaaa5;}
  }

.end {
    width: 100%;
    height: 92px;
    background-color: #666666;
    border-top: 24px solid #774aaa;
    float: left;
    text-align: center;
    padding-top: 30px;
    bottom: 0px;
    color: #777777;
    margin-top: 0%;
}

.now {
    position: fixed;
}

input, label {
    float: left;
}

.concent {
    text-align: center;
}


/* text input definitions----------- */


input[type=text], select {
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    border: 1px solid #777777;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #eeeeee;
}


input[type=text]:focus {
    border: 1px solid #4aaaa5;
    background-color: #ffffff;
}

textarea {
    margin-top: 16px;
}

#enter {
    width: 100%;
    height: 250px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #777777;
    border-radius: 6px;
    background-color: #ffffff;
    resize: none;
} 

.submit {
    width: 100%;
    height: 91px;
    text-align: center;
    float: left;
    padding-top: 35px;
    color: #707070;
    text-decoration: none;
}
.submit:hover {
    background-color: #00b828;
    color: #ffffff;
}

#concon {
    background-color: #e7e7e7;
}

#gemstone {
    text-align: center;
    margin-top: 20px;
    float: left;
    background-color: #ffffff;
    border-radius: 6px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    border: 1px solid #4aaaa5;
    line-height: 170%;
    color: #777777;
    position: absolute;
    width: 500px;
    margin-left: -250px;
    left: 50%;
    height: 400px;
}

.gemtitle {
    background-color: #4aaaa5;
    width: 100%;
    padding-top: 6px ;
    padding-bottom: 6px;
    padding-left: 0px;
    color: #ffffff;
    float: left;
}

#match {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid #777777;
    color: #4aaaa5;
    text-align: center;
    width: 50px;
    height: 25px;
    margin-top: 20px;
    float: left;
    margin-left: 225px;
    margin-right: 225px;
}

.gems {
    float: left;
    border: 1px solid #777777;
    border-radius: 6px;
    margin-top: 20px;
    margin-right: 6px;
}

#tcenter {
    text-align: center;
    width: 100%;
    float: left;
    padding-left:105px;
}

#win {
    float: left;
    margin-left: 20px;
}

#lose {
    float: right;
    margin-right: 20px;
}
/* media queries */

.tc {
    width: 960px;
}

.mar1 {
    margin-top: 2200px;
}

.mar2 {
    margin-top: 858px;
}

.contend {
    margin-top: 858px;
}

@media screen and (max-width: 960px) and (min-width: 641px){
    .con {
        width: 600px;
        margin-left: -300px;
    }
    #titlebox {
        margin-left: -100px;
    }
    #tc1 {
        margin-left:300px;
    }
    #tc2 {
        margin-left:295px;
    }
    #tc3 {
        margin-left:305px;
    }
    .mar1 {
        margin-top: 1232px;
    }
    .mar2 {
        margin-top: 1264px;;
    }
    #alwrap1 {
        margin-left: 400px;
    }
    #alwrap2 {
        margin-left: 475px;
    }
    #alwrap3 {
        margin-left: 550px;
    }
    .blocc {
        padding-top: 5px;
        padding-left: 320px;
    }
}

@media screen and (max-width: 640px){
    .con {
        width: 500px;
        margin-left: -250px;
    }
    #titlebox {
        margin-left: 0%;
    }
    #titlebox {
        margin-left: -100px;
    }    
    #tc1 {
        margin-left:300px;
    }
    #tc2 {
        margin-left:295px;
    }
    #tc3 {
        margin-left:305px;
    }
    .link {
        margin-left: 50%;
    }
    .mar1 {
        margin-top: 1072px;;
    }
    .mar2 {
        margin-top: 1534px;;
    }
    #alwrap1 {
        margin-left: 420px;
        height: 30px;
        padding-top: 7px;
        margin-top:0;
    }
    #alwrap2 {
        margin-left: 420px;
        height: 30px;
        padding-top: 7px;
        margin-top: 30px;
    }
    #alwrap3 {
        margin-left: 420px;
        height: 30px;
        padding-top: 7px;
        margin-top: 60px;
    }
    .blocc {
        padding-top: 5px;
        padding-left: 320px;
    }
    .invisilink {
        height: 30px;
        width: 75px;
        display: block;
        position: fixed;
        z-index: 3;
    }
    .floating {
        margin-left: -90px;
    }
}
